@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

/* 优化移动端点击体验 */
* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
